[submodule "docs/private"]
	path = docs/private
	url = git@github.com:HelixDevelopment/helix_thready_private.git
[submodule "containers"]
	path = containers
	url = git@github.com:vasic-digital/containers.git
[submodule "constitution"]
	path = constitution
	url = git@github.com:HelixDevelopment/HelixConstitution.git
[submodule "penpot"]
	path = penpot
	url = git@github.com:vasic-digital/PenPot.git
