go 1.26.4

use (
	./asset_service
	./callback_task
	./download_manager
	./event_bus_service
	./integration
	./max_adapter
	./metering
	./metube_webhook
	./ocr_adapter
	./rest_gateway
	./semantic_search
	./skill_dispatch
	./telegram_adapter
	./threadreader
	./user_service
)
